<div class="detail-card">
    <div class="top">
  <img src="" alt="">
    </div>
    <div class="botton">
     <h2>Nombre de la carta</h2>

     <div class="item">
        <h3 class="title">titulo</h3>
        <p class="descripsion">descripsion</p>

        <table class="table">
            <thead>
                <th class="col">Makert</th>
                <th class="col">Price</th>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Makert</th>
                    <th>Price</th>
                </tr>
            </tbody>
        </table>
     </div>
    </div>
</div>
